@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
$primary: #ed7135;
$white-color: #ffffff;
$font-main: "Commissioner", sans-serif;
$font-size: 16px;
$dark: #292929;
$trsn: 0.2s;
